<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>TThis is a platform where Students and Professor's can communicate and address any questions and concerns relates to a course by posting it as a tweet and then can connect one to on to the professor using Video/Audio/text chat options.Professor's can tweeet about an important news or message which they want to convey and it can reach faster to the student's as opposed to posting on the school forum which students may not check on a regular basis.</p>
    </div>
</div>