<% if user_signed_in? %> 
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to CSUF Computer Science department's social networking website!</h1>
            <br>
            
            <h5>This is a platform where Students and Professor's can communicate and address any questions and concerns relates to a course by posting it as a tweet and then can connect one to on to the professor using Video/Audio/text chat options.Professor's can tweeet about an important news or message which they want to convey and it can reach faster to the student's as opposed to posting on the school forum which students may not check on a regular basis.
            </h5>
            </br>
            <br>
            </br>
            <br>
            </br>


            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>What is the big deal?</h2>
                <p>This Website utilizes the latest technology of WebRTC (Web Real-Time Communication) which is a collection of communications protocols and application programming interfaces (API) that enable real-time communication over peer-to-peer connections.</p>
                
            </div>
            <div class="col-md-4">
                <h2>What can i expect?</h2>
                <p>It is a very exciting, powerful, and highly disruptive cutting-edge technology and standard. WebRTC leverages a set of plugin-free APIs that can be used in both desktop and mobile browsers, and is progressively becoming supported by all major modern browser vendors.</p>
                
            </div>
            <div class="col-md-4">
                <h2>What is real time communication?</h2>
                <p>Real-time communications (RTC) is a term used to refer to any live telecommunications that occur without transmission delays. RTC is nearly instant with minimal latency. RTC data and messages are not stored between transmission and reception.</p>
                
            </div>
        </div>
    </div>
<% end %>